# تجاهل البيئات الافتراضية
venv/
my-ecommerce-env/

# تجاهل ملفات بايثون المؤقتة وقاعدة البيانات
__pycache__/
*.pyc
db.sqlite3

# تجاهل متغيرات البيئة السرية
.env

# تجاهل الملفات الساكنة التي ستولد على السيرفر
staticfiles/